<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters" id="lastLine">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" id="firstImg"></div>
      <div class="col-lg-6 p-5 order-lg-1 my-auto showcase-text containerCharts">
        <h2 class="mb-5">Le saviez-vous ?</h2>

        <figure class="chart" data-percent="75">
          <figcaption class="text blueStroke">75 %</figcaption>
          <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>
        <p class="following"> des français aimeraient que leurs enfants lisent davantage pour le plaisir</p>
        
        <figure class="chart" data-percent="52">
          <figcaption class="text orangeStroke">52 %</figcaption>
          <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>
        <p class="following">des lecteurs français s'attristent de ne pas pouvoir bénéficier des conseils d’un libraire</p>

      </div>
    </div>
    <%# <div class="row no-gutters" id="lastLine"> %>
    <%#   <div class="col-lg-6 text-white showcase-img" id="secondImg"></div> %>
    <%#   <div class="col-lg-6 p-5 my-auto showcase-text"> %>
    <%#     <h2>Le Rat Curieux</h2> %>
    <%#     <p class="lead text-justify mb-4">Par son itinérance, <strong class="bold"> le Rat Curieux apporte la lecture et les conseils littéraires chez le lecteur</strong>. Il ciblera les zones dépourvues de librairie et s’installera quelques heures, le temps nécessaire au lecteur de choisir l’objet de sa prochaine évasion. Notre venue permettra également d’animer la zone dans laquelle nous serons de passage. Le rat curieux lutte ainsi contre la fracture culturelle qui peut s’édifier entre les villes et les milieux ruraux.</p> %>
    <%#     <p class="lead text-justify mb-4">Par son partenariat avec l’association « Les Amis du Rat Curieux », le Rat Curieux proposera des activités aux habitants des zones où il s’installe. Les activités s’articuleront en deux temps, une phase de découverte ludique et collaborative autours du livre choisi suivie d’une phase de création afin que le jeune public puisse repartir avec leur production. Notre impact est ainsi inscrit dans la durée.</p> %>
    <%#   </div> %>
    <%# </div> %>
  </div>
</section>
