<section id="kit_pres" class="shadow-after text-center features-icons">
  <h2 class="mb-5 mt-4">Une pédagogie innovante basée sur la collaboration et la créativité</h2>
  
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-6">
          <div class="icon mb-0 mb-lg-3">
            <%= image_tag "icon/one.png", alt:"one icon", class:"mx-auto" %>
          </div>
          <h4>Découverte ludique et collaborative du livre</h4>
      </div>
      <div class="col-lg-6">
          <div class="icon mb-0 mb-lg-3">
            <%= image_tag "icon/two.png", alt:"one icon", class:"mx-auto" %>
          </div>
          <h4>Production créative matérialisant les connaissances et ressentis de l’enfant</h4>
      </div>
    </div>
  </div>

  <h3 class="mb-4">Et concrètement ça donne quoi ?</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NY_NoXztk-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section>
