<section id="newsletter" class="call-to-action text-white text-center bgExchangePic">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-2">Newsletter</h2>
        <h4 class="mb-4">Soyez les premiers au courant des avancées du Rat Curieux et de l’organisation des activités.</h4>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <%= button_to "Je veux m'inscrire à la newsletter", "https://leratcurieux.us20.list-manage.com/subscribe?u=525b19cccb32b0e2331325eb9&id=bde44ca743", :method => "get",  class: "btn btn-lg btn-primary" %> 
      </div>
    </div>
  </div>
</section>
