<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-search m-auto text-primary"></i>
          </div>
          <h2>Développer la curiosité</h2>
          <ul class="no-style">
            <li>Encourager à la lecture</li>	
            <li>Fédérer et débattre autour d’un même sujet</li>	
            <li>Encourager à la création artistique intellectuelle et ou manuelle</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-users m-auto text-primary"></i>
          </div>
          <h2>Pérenniser la curiosité</h2>
          <p class="lead mb-0">
          <ul class="no-style">
            <li>Créer des liens entre les lecteurs</li>
            <li>Encourager à sortir des livres et à exporter les connaissances</li>
            <li>Permettre l’autonomie des lecteurs dans la recherche de nouveaux livres</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-book m-auto text-primary"></i>
          </div>
          <h2>Réduire la fracture culturelle</h2>
          <p class="lead mb-0">
          <ul class="no-style">
            <li>Remettre le plaisir au centre de la lecture chez les enfants</li>
            <li>Valoriser l’accès aux livres et à la culture dans tous les milieux</li>	
            <li>Favoriser une approche ludique et décomplexée du livre</li>
          </ul></p>
        </div>
      </div>
    </div>
  </div>
</section>
