<section id="professionnel" class="pt-pb text-center">
  <div class="container">
    <h2 class="mb-4">Vous êtes professionnel ?</h2>
    <h4 class="mb-4 text-left col-12">Vous souhaitez animer un atelier littéraire innovant ?</h4>
    <h4 class="mb-4 text-right col-12">Vous souhaitez vous former à une pédagogie innovante ?</h4>
    <h3 class="mb-4 col-12">Contactez-nous pour découvrir nos kits pédagogiques et nos offres de formations</h3>
    <div class="row mx-2 mx-sm-0">
      <%= mail_to "contact@leratcurieux.fr", "Contactez-nous", class: "offset-sm-1 col-sm-4 col-12 mb-sm-0 mb-2 btn btn-lg btn-primary" %>
    <%= link_to "Prendre rendez-vous", "www.google.fr", class: "offset-sm-2 col-sm-4 col-12 btn btn-lg btn-primary" %>
    </div>
  </div>
</section>
