<section id="festival" class="pt-pb box-shadow bg-light text-center">
  <div class="container">
    <h2 class="mb-4">Vous êtes à l’origine d’un festival ou d’un évènement culturel ?</h2>
    <h4 class="mb-4 col-12">Le rat curieux peut animer des ateliers et proposer une sélection littéraire adaptée à votre événement</h4>
    <h3 class="mb-4 col-12">Contactez-nous pour co-construire votre atelier</h3>
    <div class="row mx-2 mx-sm-0">
      <%= mail_to "contact@leratcurieux.fr", "Contactez-nous", subject:"Prise de contacti - Festival", class: "offset-sm-1 col-sm-4 col-12 mb-sm-0 mb-2 btn btn-lg btn-primary" %>
      <%= mail_to "contact@leratcurieux.fr", "Prendre rendez-vous", subject:"Prise de rendez-vous - Festival", class: "offset-sm-2 col-sm-4 col-12 btn btn-lg btn-primary" %>
    </div>
  </div>
</section>
