<!-- Team -->
<section class="testimonials text-center bg-light" id="team">
  <div class="container">
    <h2 class="mb-5">Notre équipe</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag "loreline.png", class:"team-member img-fuild rounded-circle mb-3" %>
          <h5>Loreline Gaston</h5>
          <p class="font-weight-light mb-0">Créative, elle s’occupe de l’élaboration des activités pédagogiques et des visuels des réseaux sociaux. C’est elle qui est à l’initiative des idées les plus créatives de ce projet.</p>
          <p class="font-weight-light mt-2">Une interrogation concernant les activités, ou un visuel ? C’est avec Loreline qu’il faudra voir.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag "laura.png", class:"team-member img-fuild rounded-circle mb-3" %>
          <h5>Laura Gobert</h5>
          <p class="font-weight-light mb-0">Gestionnaire de l’équipe, elle s’occupe de contacter les futurs partenaires et s’occuper de la communication. C’est aussi elle qui s’occupe de toutes les données chiffrées du projet.</p>
          <p class="font-weight-light mt-2">Intéressé pour une collaboration ? C’est Laura qu’il faut contacter.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag "thomas.png", class:"team-member img-fuild rounded-circle mb-3" %>
          <h5>Thomas Falcone</h5>
          <p class="font-weight-light mb-0">Ce que vous êtes en train de lire c’est grâce à lui. Il est le Monsieur Web de notre projet. C’est grâce à son travail que nous allons pouvoir toucher une plus grande partie de la population.</p> 
          <p class="font-weight-light mt-2">Une demande concernant notre site web et ses fonctionnalités ? C’est vers Thomas qu’il faudra se tourner.</p>
        </div>
      </div>
    </div>
    <h4 class="mt-5">Ce qui nous lie ? L’envie d’agir socialement sur la société dans laquelle nous devons évoluer, notre passion pour la lecture et notre détermination à rendre le monde meilleur.</h4>
  </div>
</section>
