<% provide(:title, "Contact") %> 
<div class="container contactInfo col-12">
<!-- Team -->
<h2 class="text-center">Vous pouvez nous contacter en cliquant sur l'une des icônes ci-dessous</h2>
        <div class="mt-5 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/leratcurieux/">
                <i class="fa fa-facebook fa-5x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:leratcurieux@gmail.com">
                <i class="fa fa-envelope fa-5x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="tel:0659733953">
                <i class="fa fa-phone fa-5x fa-fw"></i>
              </a>
            </li> 
          </ul>
        </div>
</div>

<%= render "static_pages/team" %> 

