<div class="col-12 container privacyText">
  
  <h4>Politique de confidentialité des données et droit d’information sur vos données
  personnelles.</h4>
  <p>Vos données personnelles sont traitées par <em>Les Amis du Rat Curieux</em> pour les besoins de
  l’exécution des prestations que vous avez demandées ou autorisées. 
  Sur demande, elles peuvent également être transférées aux personnes et autorités dont le
  droit d’accès aux données à caractère personnel est reconnu par la loi, les règlements ou les
  dispositions émanant d’autorités habilitées par la loi.
  Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous disposez
  d’un droit d’accès, d’interrogation, de rectification, d’effacement et à la limitation du
  traitement sur les informations qui vous concernent, d’un droit d’opposition à la prospection
  ou pour motif légitime, d'un droit à la portabilité de vos données, du droit d’introduire une
  réclamation auprès de la CNIL et d’un droit de définir des directives relatives au sort de vos
  données à caractère personnel après votre mort en adressant votre demande accompagnée
  de la copie d’un titre d’identité portant votre signature à <a href="mailto:leratcurieux@gmail.com">leratcurieux@gmail.com</a>
  </p>
</div>
<div class="col-12 fullImg">
<%= image_tag "privacy", class: "img-fluid" %>
</div>

