/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require owl.carousel
 *= require owl.theme
 */

@import "bootstrap";
@import "font-awesome";

body{

	font-family: "Lato", "Trebuchet";
}

@font-face {
	font-family: "blinkstones";
	src: font-url('blinkstones.ttf');
}

@font-face {
	font-family: "another_flight";
	src: font-url('another_flight.otf');
}

.another-flight, h2, h3{
	font-family: "another_flight", "Lato";
}

.blinkstones {
	font-family: "blinkstones", "Lato";
	//blinkstone isn't great with bold weight
	font-weight: normal !important;
}

h2, h3{
	font-weight: bold; 
}

h2{
	font-size: xx-large;
}

.navbar-logo{
        max-height: 100px;
}

.navbar-nav{
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.7rem;
		padding-left: 0.7rem;
	}
}

a:hover{
	background-color: transparent;
}


