.containerCharts {
	padding: 50px 0;
	text-align: center;
	*, *:before, *:after {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
}

.following{
	margin-left: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;

}

.chart {
	position: relative;
	display: inline-block;
	color: black;
	font-size: 20px;
	text-align: center;
}

.chart figcaption {
	padding: 50px 25px;
	width: 100px;
	height: 50px;
	border: 20px solid #f0f0f0;
	border-radius: 100px;
	line-height: 50px;
	font-weight: bold;
	font-size: 28px;
}

.chart img {
	position: absolute;
	max-width: 100px;
	max-height: 100px;
	background: green;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.text {
	top: 50px;
	left: 45px;
}

.orangeStroke + svg .outer {
	stroke: #FFBE5D;
}

.blueStroke + svg .outer {
	stroke: #BBD2FE;
}

.chart svg {
	position: absolute;
	top: 0;
	left: 0;
}

.outer {
	fill: transparent;
	stroke: green;
	stroke-width: 20;
	stroke-dasharray: 534;
	transition: stroke-dashoffset 1s;
	-webkit-animation-play-state: running;

	/* firefox bug fix - won't rotate at 90deg angles */
	-moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
	stroke-dashoffset: 534 !important;
	-webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='75'] .outer {
	stroke-dashoffset: 133;
	-webkit-animation: show75 2s;
	animation: show75 2s;
}

.chart[data-percent='52'] .outer {
	stroke-dashoffset: 258;
	-webkit-animation: show52 2s;
	animation: show52 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */

@-webkit-keyframes show75 {
	from {
		stroke-dashoffset: 537;
	}

	to {
		stroke-dashoffset: 134;
	}
}

@keyframes show75 {
	from {
		stroke-dashoffset: 537;
	}

	to {
		stroke-dashoffset: 124;
	}
}

@-webkit-keyframes show52 {
	from {
		stroke-dashoffset: 537;
	}

	to {
		stroke-dashoffset: 258;
	}
}

@keyframes show52 {
	from {
		stroke-dashoffset: 537;
	}

	to {
		stroke-dashoffset: 258;
	}
}
/* END Keyframes for the initial animation */


